body {
    text-align: center;
    margin: 0;
}

.border {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#players div, #scores div {
    flex: 2;
}

.beige div {
    background-color: rgb(252, 243, 228);
}

.green div {
    background-color: rgb(251, 233, 233);
}

#scoretable {
    margin-bottom: 20px;
}

#players>div:first-child, #scores>div:first-child{
    flex: 1;
}

.flex {
    display: flex;
}

.flex p {
    flex: 1;
}

.flex-center {
    justify-content: center;
}

input[type=number]{
    width: 100%; 
    text-align: center;
    border: none;
}

#win {
    display: none;
}

#table, #scoretable {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

@media screen and (max-width: 768px){
    #table, #scoretable {
        width: 100%;
    }

    #scores>div:first-child {
        flex: 3;
    }
}

#info {
    margin-top: 60px;
    margin-bottom: 60px;
}

#actions {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-top: 20px;
    height: 60px;
    background-color: orange;
}

#removeSaved {
    display: none;
    margin-top: 20px;
}

#info span {
    font-size: 48px;
}

#par {
    margin-left: 20px;
    font-size: 20px;
}

#holeList {
    display: none;  
}

#finish {
    display: none;
}

#game {
    display: none;
}

#playerList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerList input {
    width: 75%;
    display: inline-block;
    font-size: 2rem;
}

#startButton {
    margin-top: 20px;
}

#players, #scores {
    display: flex;
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

#info p {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}


select, button, input {
  font-size: 1.2rem;
}

#finish button {
    font-size: 1.5rem;
}